Xft.dpi: 96
! Xft.dpi: 192

Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

Xft.font: Noto Sans CJK SC 12

Xcursor.size: 32

URxvt*font: xft:Noto Sans Mono:size=14
URxvt*boldFont: xft:Noto Sans Mono:bold:size=14
URxvt*letterSpace: 0
URxvt*scrollBar: false

